*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(234, 233, 234);
    font-family: 'Montserrat', sans-serif;
}

.display{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 60vw;
    height: 90vh;
    background-color: #fff;
    border-left: 5px solid rgb(72, 166, 234);
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    font-weight: 500;
    color: rgb(72, 166, 234);
    padding-bottom: 3vh;
    padding-top: 3vh;
}

.form{
    width: 70%;
    height: 35vh;
    display: flex;
    justify-content: end;
    align-items:flex-start;
    flex-direction: column;
    text-align: left;
}
 
.form input[type="number"],
.form input[type="text"],
.form input[type="date"]{
    border: none;
	border-bottom: 1px solid rgb( 98, 101, 108);
	margin-bottom: 2vh;
	padding: 2vh;
	width: 100%;
    height: 5vh;
}
 
.form input[type="number"],
.form input[type="text"],
.form input[type="date"]::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 300;
    text-align: left;
    color:rgb( 98, 101, 108);
}

.form input[type="number"],
.form input[type="text"],
.form input[type="date"]:hover{
    border: 1px solid rgb(72, 166, 234);
}

.form label{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    text-align: right;
    padding: 2vh;
    color:#000;
}

.form select{
    border: none;
	border-bottom: 1px solid rgb( 98, 101, 108);
	width: 100%;
    height: 5vh;
	padding-left: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    color: #000;
}

.form select:hover{
    border: 1px solid rgb(72, 166, 234);
}

/* --------------------- BUTTON --------------------- */

.button[type="submit"]{
    width: 7vw;
    height: 5vh;
    text-align: center;
    border: 1px solid rgb( 98, 101, 108);
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 500;
    color:rgb( 98, 101, 108);
    background-color: #fff;
    cursor: pointer;
}

.button[type="submit"]:hover {
    background-color:#fff;
    border: 1px solid rgb(72, 166, 234);
    color:rgb(72, 166, 234);
    transition: 0.2s;
}

.border{
    width: 80%;
    height: 25vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    font-weight: 500;
    text-align: left;
    color:rgb(72, 166, 234);
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 500;
    text-align: left;
    color:rgb(17, 76, 119) 
}