*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(234, 233, 234);
    font-family: 'Montserrat', sans-serif;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 90%;
    height: 90%;
    background-color: #fff;
    border: 2px solid  rgb( 96, 102, 123);
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    font-weight: 500;
    color: rgb(237, 37, 83);
    margin-bottom: 4vh;
}

p[type="textarea"]{
	border: 1px solid rgb( 98, 101, 108);
    margin-bottom: 2vh;
    margin-top: 2vh;
    padding-left: 2vh;
    width: 90%;
    height: 32%;
    cursor: default;
    overflow: auto;
}

input[type="text"]{
    border: none;
	border: 1px solid rgb( 98, 101, 108);
	margin-bottom: 2vh;
    margin-top: 2vh;
	padding: 2vh;
	width: 90%;
    height: 10%;
}

.button{
    width: 7vw;
    height: 5vh;
    text-align: center;
    border: 1px solid rgb( 98, 101, 108);
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 500;
    color:#fff;
    background-color: rgb( 98, 101, 108);
    cursor: pointer;
}

.button:hover {
    background-color:#fff;
    border: 1px solid rgb(237, 37, 83);
    color:rgb(237, 37, 83);
}
