*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.display_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.display{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.displayLeft{
    display: flex;
    justify-content: left;
    align-items: flex-start; 
    flex-direction: column;
}

.container{
    width: 80vw;
    height: 40vh;
}

.box{
    width: 20vw;
    height: 10vh;
}

.box_edit{
    
    width: 60vw;
    height: 50vh;

    background-color: aquamarine;
    z-index: 1;
    border: 1px solid rgb( 98, 101, 108);
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
    font-weight: 600;
    color: rgb( 38, 83, 61);
    padding-bottom: 3vh;
    padding-top: 3vh;
}

.form{
    width: 30vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.form input[type="textarea"]{
    border: none;
	margin-bottom: 4vh;
	padding: 1vh;
	width: 80%;
    height: 18vh;
    background-color:rgb( 225, 226, 221);
}

.form input[type="text"]{
    border: none;
	margin-bottom: 4vh;
	padding: 1vh;
	width: 70%;
    height: 5vh;
    background-color:rgb( 225, 226, 221);
}
 
.form label{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 500;
    text-align: left;
    color:rgb( 98, 101, 108);
}
.form input[type="textarea"]:hover,
.form input[type="text"]:hover{
    border: 1px solid rgb( 38, 83, 61);
}

.form select{
    border: none;
	border-bottom: 1px solid rgb( 98, 101, 108);
	width: 100%;
    height: 5vh;
    margin-bottom: 4vh;
	padding-left: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    color: #000;
}

.form select:hover{
    border: 1px solid rgb( 38, 83, 61);
}

#info{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    font-weight: 500;
    text-align: center;
    color: rgb( 38, 83, 61);
    margin-top: 5vh;
}
.box_table{
    width: 50vw;
    height: 50vh;
    margin-top: 5vh;
}
table{
    border-collapse:collapse;
    border: 1px solid rgb( 98, 101, 108);
    width: 100%;
}

table th{
    background-color: #fff;
}

table th, td{
    text-align: center;
    width: 2vw;
    height: 2vh;
}

/* --------------------- BUTTON --------------------- */

.button[type="button"]{
    width: 8vw;
    height: 5vh;
    margin-top: 4vh;
    text-align: center;
    border: 1px solid rgb( 38, 83, 61);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 500;
    color:#fff;
    background-color: rgb( 38, 83, 61);
    cursor: pointer;
}

.button[type="button"]:hover {
    background-color:#fff;
    border: 1px solid rgb( 38, 83, 61);
    
    color:rgb( 38, 83, 61);
    transition: 0.2s;
}