*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    background-color: rgb(234, 233, 234);

    font-family: 'Montserrat', sans-serif;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 30vw;
    height: 70vh;

    background-color: #fff;

    border-left: 5px solid rgb(75, 112, 92);
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    font-weight: 500;
    color: rgb(75, 112, 92);
}

.form{
    width: 20vw;
    height: 25vh;

    display: flex;
    justify-content:end;
    align-items: flex-end;
    flex-direction: column;
}
 
.form input[type="date"]{
    border: none;
	border-bottom: 1px solid rgb( 98, 101, 108);
	margin-bottom: 4vh;
	padding: 2vh;
	width: 100%;
    height: 5vh;
}

.form input[type="date"]:visited{
    border: 1px solid rgb(75, 112, 92);
}

.form input[type="date"]:hover{
    border: 1px solid rgb(75, 112, 92);
}

.form input[type="date"]:active{
    border: 3px solid rgb(75, 112, 92);
}

.button[type="button"]{
    width: 7vw;
    height: 5vh;
    text-align: center;
    border: 1px solid rgb( 98, 101, 108);
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 500;
    color:rgb( 98, 101, 108);
    background-color: #fff;
    cursor: pointer;

}

.button[type="button"]:hover {
    background-color:#fff;
    border: 1px solid rgb(75, 112, 92);
    color:rgb(75, 112, 92);
    transition: 0.2s;
}

.border{

    width: 20vw;
    height: 25vh;

    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 500;
    text-align: center;
    color:rgb(75, 112, 92);
    text-align: left;
}